<!--===== HEADER =====-->
<header class="l-header">
    <nav class="nav bd-grid">
        <div>
            <a href="{% url 'home' %}" class="nav__logo">Blog</a>
        </div>
        
        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu' id="hamburger"></i>
        </div>

        <div class="nav__menu" id="nav-menu">
            <div class="nav__close" id="nav-close">
                <i class='bx bx-x'></i>
            </div>

            <ul class="nav__list">
                {% if user.is_authenticated %}
                    <li class="nav__item"> <a class="nav__link" href="{% url 'new' %}"> Create Article </a> </li>
                    <li class="nav__item"><a href="{% url 'profile' %}" class="nav__link">Profile</a></li>
                    <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link" >Logout</a> </li>
                {% else %}
                    <li class="nav__item"><a href="{% url 'register' %}" class="nav__link">Sign Up</a></li>
                    <li class="nav__item"><a href="{% url 'login' %}" class="nav__link">Login</a> </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>