{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block body %}
  <div class="container article">
        <h3 class="intro"> {{ post.title }} </h3>
        <small> <strong> Authort: </strong> {{ post.author }} </small> <br> <br>
        {% if user.is_authenticated and user == post.author %}
            <a class="home__button btn-sm" href="{% url 'edit' post.id %}"> Edit</a>
            <a class="btn btn-danger btn-sm" href="{% url 'delete' post.id %}"> Delete</a>    
        {% endif %}
        <p> {{ post.body }} </p>
        <hr>
        <h4 class="intro">Leave your comment!</h4>
        <div id="comments_section">
        
          {% if user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                  {{ comment_form|crispy }}
                <button class="home__button" type="submit">Add comment <i class="fas fa-comments"></i></button>
                </div>
            </form>
          {% else %}
            <a class="home__button" href="{% url 'login' %}">Log in to add a comment!</a><br>
          {% endif %}
        
          {% if comments %}
            <strong class="text-secondary">{{ object.number_of_comments }} Comment{{ object.number_of_comments|pluralize }}</strong>
            <hr>
            <ul>
                {% for comment in comments %}
                    <li>           
                        <div>
                        <span>
                            <strong class="text-info">{{ comment.author }} </strong>
                            <small class="text-muted">{{ comment.date_posted }}</small>
                        </span>
                        <p>
                            {{ comment.body|safe }}
                        </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
          {% else %}
            <strong class="text-secondary">No comments yet...</strong>
          {% endif %}
        
    </div>
{% endblock %}